.navbar .container-fluid .navbar-brand img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-right: 15px;
}
.navbar .navbar-nav {
  margin-left: auto;
}
.navbar .navbar-nav li {
  margin: 0 15px;
  padding: 10px 0;
}

footer {
  background-image: url(../../img/endlessConstellation.png);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}
footer section {
  display: flex;
  justify-content: space-evenly;
}
footer section div h3 {
  font-family: "Bebas Neue", sans-serif;
}
footer section .footerMainText {
  width: 50%;
}
footer section .footerMainText h3 {
  font-family: "Bebas Neue", sans-serif;
}
footer section .footerMainText a {
  text-decoration: none;
  color: whitesmoke;
}
footer section .socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 100%;
  margin-top: 10%;
}
footer section .socialMedia img {
  width: 30px;
  height: 30px;
}
footer span {
  padding-top: 10%;
}
@media screen and (max-width: 425px) {
  footer footer span {
    text-align: center;
  }
}

* {
  box-sizing: border-box;
}

#homePrincipal {
  min-height: 100vh;
  background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 37, 70, 0.8));
  display: flex;
  color: whitesmoke;
  padding-top: 10%;
}
#homePrincipal .mainText {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#homePrincipal .mainText h1 {
  font-size: 6em;
  font-family: "Bebas Neue", sans-serif;
}
#homePrincipal .mainText p {
  font-size: 1.5em;
  padding-top: 30px;
}
#homePrincipal .mainText a {
  background-color: whitesmoke;
  padding: 10px 70px;
  border-radius: 10px;
  color: rgb(59, 58, 58);
  text-decoration: none;
  font-size: 2rem;
  margin-top: 30px;
}
#homePrincipal .sideButtons {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 5px;
}
#homePrincipal .sideButtons a {
  border: 2px solid white;
  margin: 1px;
}
#homePrincipal .sideButtons a img {
  width: 50px;
  height: 50px;
}

#aboutMe {
  min-height: 100vh;
  background-color: #e6e6e6;
}
#aboutMe .introductionBanner {
  text-align: center;
  padding: 10% 10%;
  font-size: 1.5em;
  /*padding-top: 10%;*/
}
#aboutMe .introductionBanner h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2em;
}
#aboutMe .articleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
#aboutMe .articleContainer article {
  max-width: 50%;
  padding-bottom: 10%;
}
#aboutMe .articleContainer .knowMe p {
  margin-bottom: 10%;
  text-align: left;
}
#aboutMe .articleContainer .knowMe a {
  margin: 5% 0;
  color: white;
  background-color: #0062b9;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
}
#aboutMe .articleContainer .skills {
  display: flex;
  flex-direction: column;
}
#aboutMe .articleContainer .skills span {
  background-color: rgb(190, 190, 190);
  padding: 10px;
  border-radius: 5px;
}
#aboutMe .articleContainer .skills div {
  margin: 10px 0 35px;
}

#projects {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
#projects .mainTextProjects {
  text-align: center;
  padding: 5% 10%;
  font-size: 1.5em;
}
#projects .mainTextProjects h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2em;
}
#projects .projectContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#projects .projectContainer .projectArticles {
  width: 40vw;
}
#projects .projectContainer .projectArticles img {
  max-width: 100%;
}
#projects .projectContainer .projectArticles div {
  padding: 0 10%;
}
#projects .projectContainer .projectArticles div p {
  margin-bottom: 10%;
}
#projects .projectContainer .projectArticles div a {
  margin: 5% 0;
  color: white;
  background-color: #0062b9;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
}

#contact {
  background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 37, 70, 0.8));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
#contact .contactMainText {
  color: whitesmoke;
  text-align: center;
}
#contact .contactMainText h2 {
  font-size: 3em;
  padding-top: 50px;
  font-family: "Bebas Neue", sans-serif;
}
#contact .contactMainText p {
  font-size: 1.5em;
  padding: 50px 50px;
}
#contact form {
  background-color: #fafafa;
  width: 70vw;
  margin-bottom: 50px;
  border-radius: 10px;
}
#contact form .contactContainer fieldset {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 3% 5%;
}
#contact form .contactContainer fieldset label {
  display: block;
  padding-bottom: 10px;
}
#contact form .contactContainer fieldset input {
  background-color: #e6e6e6;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
#contact form .contactContainer fieldset textarea {
  background-color: #e6e6e6;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
#contact form .contactContainer div {
  display: flex;
  justify-content: end;
}
#contact form .contactContainer div .submitBtn {
  margin: 5% 0;
  color: white;
  background-color: #0062b9;
  padding: 15px 50px;
  border-radius: 5px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #homePrincipal {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 20%;
  }
  #homePrincipal .mainText h1 {
    font-size: 3em;
  }
  #homePrincipal .mainText p {
    font-size: 1.3em;
  }
  #homePrincipal .sideButtons {
    display: flex;
    flex-direction: row;
    padding: 30px;
  }
  #homePrincipal .sideButtons a {
    margin: 0 5px;
  }
  #projects .projectContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
  }
  #projects .projectContainer .projectArticles {
    width: 90vw;
    display: flex;
    justify-content: center;
  }
  #projects .projectContainer .projectArticles img {
    max-width: 60%;
  }
}
@media screen and (max-width: 425px) {
  #homePrincipal {
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #homePrincipal .mainText {
    width: 100vw;
    text-align: center;
    padding: 10% 5%;
  }
  #homePrincipal .mainText p {
    line-height: 1.9em;
  }
  #aboutMe .introductionBanner {
    font-size: 1.2em;
    line-height: 1.9em;
  }
  #aboutMe .articleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #aboutMe .articleContainer article {
    max-width: 90%;
  }
  #aboutMe .articleContainer .knowMe {
    text-align: center;
  }
  #aboutMe .articleContainer .skills {
    align-items: center;
  }
  #projects .mainTextProjects {
    font-size: 1em;
  }
  #contact .contactMainText p {
    line-height: 1.9em;
    font-size: 1.2em;
  }
  #contact form {
    width: 90vw;
  }
}

/*# sourceMappingURL=style.css.map */
