footer {
    
    background-image: url(../img/endlessConstellation.png);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
  
    section {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      div{
        h3{
          font-family: 'Bebas Neue', sans-serif;
        }
      }
        
      .footerMainText {
        h3{
          font-family: 'Bebas Neue', sans-serif;
        }
        a {
            text-decoration: none;
            color: whitesmoke;
        }
        width: 50%;
      } 
  
      .socialMedia {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        min-width: 100%;
        margin-top: 10%;
        img{
          
          width: 30px;
          height: 30px;
        }
      }
    }
    span {
      padding-top: 10%;
    }

    @media screen and (max-width: 425px) {
     footer {
      span {
        text-align: center;
      }
     }
    }
  }